.showproduct {
  width: 80%;
  margin: auto;
  text-align: start;
}

.cont1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}
.cont1 > div {
  align-self: baseline;
  text-align: center;
  margin-left: 50px;
}
.btn {
  justify-content: center;
}
.Productimage {
  object-fit: contain !important;
}
